workflows/daily-trading-brief.json
{
  "name": "Daily Trading Brief",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4000-a000-000000000001",
      "name": "Schedule (07:30 Mon–Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/wallstreetbets/top.json?t=day&limit=15",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n daily-trading-brief/0.1 (contact: denisrostovskiy17@gmail.com)"
            }
          ]
        }
      },
      "id": "a1b2c3d4-2222-4000-a000-000000000002",
      "name": "Fetch r/wallstreetbets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "url": "https://www.investing.com/rss/news_25.rss",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a1b2c3d4-3333-4000-a000-000000000003",
      "name": "Fetch Investing.com RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "a1b2c3d4-4444-4000-a000-000000000004",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Combine Reddit top posts + RSS news items into a single corpus for Claude.\n// Strip HTML, dedupe, cap length to keep prompt costs predictable.\n\nconst stripHtml = (s) => (s || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n\nconst items = $input.all();\nconst reddit = items[0]?.json?.data?.children || [];\nconst rssXml = items[1]?.json?.data || items[1]?.json?.body || '';\n\nconst redditPosts = reddit\n  .map(c => c.data)\n  .filter(p => p && p.title)\n  .slice(0, 10)\n  .map(p => `- [r/wsb · ${p.score} pts] ${p.title}${p.selftext ? ' — ' + stripHtml(p.selftext).slice(0, 240) : ''}`);\n\nconst rssMatches = [...String(rssXml).matchAll(/<item>[\\s\\S]*?<title>([\\s\\S]*?)<\\/title>[\\s\\S]*?<description>([\\s\\S]*?)<\\/description>[\\s\\S]*?<\\/item>/g)];\nconst rssNews = rssMatches.slice(0, 10).map(m => `- [Investing.com] ${stripHtml(m[1])} — ${stripHtml(m[2]).slice(0, 240)}`);\n\nconst corpus = [\n  '## Reddit r/wallstreetbets — top of day',\n  ...redditPosts,\n  '',\n  '## Investing.com — latest headlines',\n  ...rssNews,\n].join('\\n');\n\nreturn [{ json: { corpus, today: new Date().toISOString().slice(0, 10) } }];"
      },
      "id": "a1b2c3d4-5555-4000-a000-000000000005",
      "name": "Clean & Combine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a market analyst writing a concise pre-market trading brief for retail-active investors in EU/UK. Output 4-6 bullets covering: (1) overnight market mood, (2) named tickers with the most chatter and why, (3) macro/economic events worth watching today, (4) one contrarian read. Be specific, cite the source for each bullet (Reddit or Investing.com). End with the line: 'Not financial advice.'\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": $json.corpus\n  }]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-6666-4000-a000-000000000006",
      "name": "Claude — Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "telegram_message",
              "value": "=📈 *Daily Trading Brief* · {{ $('Clean & Combine').item.json.today }}\n\n{{ $json.content[0].text }}\n\n_Sources: r/wallstreetbets · Investing.com · Generated by Claude_",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-7777-4000-a000-000000000007",
      "name": "Format for Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      },
      "id": "a1b2c3d4-8888-4000-a000-000000000008",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1680, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule (07:30 Mon–Fri)": {
      "main": [
        [
          {
            "node": "Fetch r/wallstreetbets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Investing.com RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch r/wallstreetbets": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Investing.com RSS": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Clean & Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Combine": {
      "main": [
        [
          {
            "node": "Claude — Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Summarize": {
      "main": [
        [
          {
            "node": "Format for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Telegram": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "versionId": "00000000-0000-0000-0000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "daily-trading-brief",
  "tags": ["llm", "claude", "telegram", "automation", "scheduled"]
}
